.navbar-box {
	display: flex;
	align-items: center;
	width: 100%;
	height: 60px;
	background-color: black;
	color: rgb(8, 220, 239);
	font-size: 20px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}
.navbar-box-content {
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar-name:hover {
	cursor: pointer;
}
.navbar-icons-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
	z-index: 5;
}
.navbar-icon {
	color: white;
}
